web/WEB-INF/wsdl/localhost_8080/ArchAssistant/ArcAssistantService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://Servicios/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://Servicios/" name="ArcAssistantService">
<types>
<xsd:schema>
<xsd:import namespace="http://Servicios/" schemaLocation="http://localhost:8080/ArchAssistant/ArcAssistantService?xsd=1"/>
</xsd:schema>
</types>
<message name="hello">
<part name="parameters" element="tns:hello"/>
</message>
<message name="helloResponse">
<part name="parameters" element="tns:helloResponse"/>
</message>
<message name="ListarResponsabilidad">
<part name="parameters" element="tns:ListarResponsabilidad"/>
</message>
<message name="ListarResponsabilidadResponse">
<part name="parameters" element="tns:ListarResponsabilidadResponse"/>
</message>
<message name="ListarResponsabilidades">
<part name="parameters" element="tns:ListarResponsabilidades"/>
</message>
<message name="ListarResponsabilidadesResponse">
<part name="parameters" element="tns:ListarResponsabilidadesResponse"/>
</message>
<message name="ListarTacticasPorPatron">
<part name="parameters" element="tns:ListarTacticasPorPatron"/>
</message>
<message name="ListarTacticasPorPatronResponse">
<part name="parameters" element="tns:ListarTacticasPorPatronResponse"/>
</message>
<message name="ModificarEscenario">
<part name="parameters" element="tns:ModificarEscenario"/>
</message>
<message name="adicionarProyectoUsuario">
<part name="parameters" element="tns:adicionarProyectoUsuario"/>
</message>
<message name="ModificarInterface">
<part name="parameters" element="tns:ModificarInterface"/>
</message>
<message name="ListarPatronPorTactica">
<part name="parameters" element="tns:ListarPatronPorTactica"/>
</message>
<message name="ListarPatronPorTacticaResponse">
<part name="parameters" element="tns:ListarPatronPorTacticaResponse"/>
</message>
<message name="ObtenerDriverArquitectonicos">
<part name="parameters" element="tns:ObtenerDriverArquitectonicos"/>
</message>
<message name="ObtenerDriverArquitectonicosResponse">
<part name="parameters" element="tns:ObtenerDriverArquitectonicosResponse"/>
</message>
<message name="ModificarProyecto">
<part name="parameters" element="tns:ModificarProyecto"/>
</message>
<message name="GuardarRationaleAdd">
<part name="parameters" element="tns:GuardarRationaleAdd"/>
</message>
<message name="EliminarEscenario">
<part name="parameters" element="tns:EliminarEscenario"/>
</message>
<message name="EliminarResponsabilidad">
<part name="parameters" element="tns:EliminarResponsabilidad"/>
</message>
<message name="ObtenerRationaleAdd">
<part name="parameters" element="tns:ObtenerRationaleAdd"/>
</message>
<message name="ObtenerRationaleAddResponse">
<part name="parameters" element="tns:ObtenerRationaleAddResponse"/>
</message>
<message name="EliminarInterface">
<part name="parameters" element="tns:EliminarInterface"/>
</message>
<message name="BuscarModuloEnDescomposicion">
<part name="parameters" element="tns:BuscarModuloEnDescomposicion"/>
</message>
<message name="BuscarModuloEnDescomposicionResponse">
<part name="parameters" element="tns:BuscarModuloEnDescomposicionResponse"/>
</message>
<message name="ObtenerRationaleQAW">
<part name="parameters" element="tns:ObtenerRationaleQAW"/>
</message>
<message name="ObtenerRationaleQAWResponse">
<part name="parameters" element="tns:ObtenerRationaleQAWResponse"/>
</message>
<message name="ModificarResponsabilidad">
<part name="parameters" element="tns:ModificarResponsabilidad"/>
</message>
<message name="ModificarAtributo">
<part name="parameters" element="tns:ModificarAtributo"/>
</message>
<message name="GuardarRationaleQaw">
<part name="parameters" element="tns:GuardarRationaleQaw"/>
</message>
<message name="CrearResponsabilidad">
<part name="parameters" element="tns:CrearResponsabilidad"/>
</message>
<message name="iniciarSesion">
<part name="parameters" element="tns:iniciarSesion"/>
</message>
<message name="iniciarSesionResponse">
<part name="parameters" element="tns:iniciarSesionResponse"/>
</message>
<message name="ListarInterfaces">
<part name="parameters" element="tns:ListarInterfaces"/>
</message>
<message name="ListarInterfacesResponse">
<part name="parameters" element="tns:ListarInterfacesResponse"/>
</message>
<message name="CrearEscenario">
<part name="parameters" element="tns:CrearEscenario"/>
</message>
<message name="CrearInterface">
<part name="parameters" element="tns:CrearInterface"/>
</message>
<message name="EliminarModulo">
<part name="parameters" element="tns:EliminarModulo"/>
</message>
<message name="ListarEscenario">
<part name="parameters" element="tns:ListarEscenario"/>
</message>
<message name="ListarEscenarioResponse">
<part name="parameters" element="tns:ListarEscenarioResponse"/>
</message>
<message name="ListarTactica">
<part name="parameters" element="tns:ListarTactica"/>
</message>
<message name="ListarTacticaResponse">
<part name="parameters" element="tns:ListarTacticaResponse"/>
</message>
<message name="ListarModulo">
<part name="parameters" element="tns:ListarModulo"/>
</message>
<message name="ListarModuloResponse">
<part name="parameters" element="tns:ListarModuloResponse"/>
</message>
<message name="EliminarProyecto">
<part name="parameters" element="tns:EliminarProyecto"/>
</message>
<message name="EliminarProyectoResponse">
<part name="parameters" element="tns:EliminarProyectoResponse"/>
</message>
<message name="ListarUsuarios">
<part name="parameters" element="tns:ListarUsuarios"/>
</message>
<message name="ListarUsuariosResponse">
<part name="parameters" element="tns:ListarUsuariosResponse"/>
</message>
<message name="EliminarAtributo">
<part name="parameters" element="tns:EliminarAtributo"/>
</message>
<message name="EliminarTactica">
<part name="parameters" element="tns:EliminarTactica"/>
</message>
<message name="CrearProyecto">
<part name="parameters" element="tns:CrearProyecto"/>
</message>
<message name="ListarAtributos">
<part name="parameters" element="tns:ListarAtributos"/>
</message>
<message name="ListarAtributosResponse">
<part name="parameters" element="tns:ListarAtributosResponse"/>
</message>
<message name="ModificarPatron">
<part name="parameters" element="tns:ModificarPatron"/>
</message>
<message name="BuscarEscenario">
<part name="parameters" element="tns:BuscarEscenario"/>
</message>
<message name="BuscarEscenarioResponse">
<part name="parameters" element="tns:BuscarEscenarioResponse"/>
</message>
<message name="EliminarPatron">
<part name="parameters" element="tns:EliminarPatron"/>
</message>
<message name="CrearTactica">
<part name="parameters" element="tns:CrearTactica"/>
</message>
<message name="ModificarModulo">
<part name="parameters" element="tns:ModificarModulo"/>
</message>
<message name="CrearUsuarios">
<part name="parameters" element="tns:CrearUsuarios"/>
</message>
<message name="ListarModulos">
<part name="parameters" element="tns:ListarModulos"/>
</message>
<message name="ListarModulosResponse">
<part name="parameters" element="tns:ListarModulosResponse"/>
</message>
<message name="CrearAtributo">
<part name="parameters" element="tns:CrearAtributo"/>
</message>
<message name="BuscarTactica">
<part name="parameters" element="tns:BuscarTactica"/>
</message>
<message name="BuscarTacticaResponse">
<part name="parameters" element="tns:BuscarTacticaResponse"/>
</message>
<message name="ModificarTactica">
<part name="parameters" element="tns:ModificarTactica"/>
</message>
<message name="ListarProyectos">
<part name="parameters" element="tns:ListarProyectos"/>
</message>
<message name="ListarProyectosResponse">
<part name="parameters" element="tns:ListarProyectosResponse"/>
</message>
<message name="BuscarModulo">
<part name="parameters" element="tns:BuscarModulo"/>
</message>
<message name="BuscarModuloResponse">
<part name="parameters" element="tns:BuscarModuloResponse"/>
</message>
<message name="BuscarProyecto">
<part name="parameters" element="tns:BuscarProyecto"/>
</message>
<message name="BuscarProyectoResponse">
<part name="parameters" element="tns:BuscarProyectoResponse"/>
</message>
<message name="BuscarAtributo">
<part name="parameters" element="tns:BuscarAtributo"/>
</message>
<message name="BuscarAtributoResponse">
<part name="parameters" element="tns:BuscarAtributoResponse"/>
</message>
<message name="BuscarInterface">
<part name="parameters" element="tns:BuscarInterface"/>
</message>
<message name="BuscarInterfaceResponse">
<part name="parameters" element="tns:BuscarInterfaceResponse"/>
</message>
<message name="CrearModulo">
<part name="parameters" element="tns:CrearModulo"/>
</message>
<message name="buscarPatron">
<part name="parameters" element="tns:buscarPatron"/>
</message>
<message name="buscarPatronResponse">
<part name="parameters" element="tns:buscarPatronResponse"/>
</message>
<message name="CrearPatron">
<part name="parameters" element="tns:CrearPatron"/>
</message>
<message name="ListarPatrones">
<part name="parameters" element="tns:ListarPatrones"/>
</message>
<message name="ListarPatronesResponse">
<part name="parameters" element="tns:ListarPatronesResponse"/>
</message>
<message name="EliminarUsuario">
<part name="parameters" element="tns:EliminarUsuario"/>
</message>
<message name="ModificarUsuario">
<part name="parameters" element="tns:ModificarUsuario"/>
</message>
<message name="BuscarUsuario">
<part name="parameters" element="tns:BuscarUsuario"/>
</message>
<message name="BuscarUsuarioResponse">
<part name="parameters" element="tns:BuscarUsuarioResponse"/>
</message>
<message name="ListarTacticaPorAtributoDeCalidad">
<part name="parameters" element="tns:ListarTacticaPorAtributoDeCalidad"/>
</message>
<message name="ListarTacticaPorAtributoDeCalidadResponse">
<part name="parameters" element="tns:ListarTacticaPorAtributoDeCalidadResponse"/>
</message>
<portType name="ArcAssistantService">
<operation name="hello">
<input wsam:Action="http://Servicios/ArcAssistantService/helloRequest" message="tns:hello"/>
<output wsam:Action="http://Servicios/ArcAssistantService/helloResponse" message="tns:helloResponse"/>
</operation>
<operation name="ListarResponsabilidad">
<input wsam:Action="http://Servicios/ArcAssistantService/ListarResponsabilidadRequest" message="tns:ListarResponsabilidad"/>
<output wsam:Action="http://Servicios/ArcAssistantService/ListarResponsabilidadResponse" message="tns:ListarResponsabilidadResponse"/>
</operation>
<operation name="ListarResponsabilidades">
<input wsam:Action="http://Servicios/ArcAssistantService/ListarResponsabilidadesRequest" message="tns:ListarResponsabilidades"/>
<output wsam:Action="http://Servicios/ArcAssistantService/ListarResponsabilidadesResponse" message="tns:ListarResponsabilidadesResponse"/>
</operation>
<operation name="ListarTacticasPorPatron">
<input wsam:Action="http://Servicios/ArcAssistantService/ListarTacticasPorPatronRequest" message="tns:ListarTacticasPorPatron"/>
<output wsam:Action="http://Servicios/ArcAssistantService/ListarTacticasPorPatronResponse" message="tns:ListarTacticasPorPatronResponse"/>
</operation>
<operation name="ModificarEscenario">
<input wsam:Action="http://Servicios/ArcAssistantService/ModificarEscenario" message="tns:ModificarEscenario"/>
</operation>
<operation name="adicionarProyectoUsuario">
<input wsam:Action="http://Servicios/ArcAssistantService/adicionarProyectoUsuario" message="tns:adicionarProyectoUsuario"/>
</operation>
<operation name="ModificarInterface">
<input wsam:Action="http://Servicios/ArcAssistantService/ModificarInterface" message="tns:ModificarInterface"/>
</operation>
<operation name="ListarPatronPorTactica">
<input wsam:Action="http://Servicios/ArcAssistantService/ListarPatronPorTacticaRequest" message="tns:ListarPatronPorTactica"/>
<output wsam:Action="http://Servicios/ArcAssistantService/ListarPatronPorTacticaResponse" message="tns:ListarPatronPorTacticaResponse"/>
</operation>
<operation name="ObtenerDriverArquitectonicos">
<input wsam:Action="http://Servicios/ArcAssistantService/ObtenerDriverArquitectonicosRequest" message="tns:ObtenerDriverArquitectonicos"/>
<output wsam:Action="http://Servicios/ArcAssistantService/ObtenerDriverArquitectonicosResponse" message="tns:ObtenerDriverArquitectonicosResponse"/>
</operation>
<operation name="ModificarProyecto">
<input wsam:Action="http://Servicios/ArcAssistantService/ModificarProyecto" message="tns:ModificarProyecto"/>
</operation>
<operation name="GuardarRationaleAdd">
<input wsam:Action="http://Servicios/ArcAssistantService/GuardarRationaleAdd" message="tns:GuardarRationaleAdd"/>
</operation>
<operation name="EliminarEscenario">
<input wsam:Action="http://Servicios/ArcAssistantService/EliminarEscenario" message="tns:EliminarEscenario"/>
</operation>
<operation name="EliminarResponsabilidad">
<input wsam:Action="http://Servicios/ArcAssistantService/EliminarResponsabilidad" message="tns:EliminarResponsabilidad"/>
</operation>
<operation name="ObtenerRationaleAdd">
<input wsam:Action="http://Servicios/ArcAssistantService/ObtenerRationaleAddRequest" message="tns:ObtenerRationaleAdd"/>
<output wsam:Action="http://Servicios/ArcAssistantService/ObtenerRationaleAddResponse" message="tns:ObtenerRationaleAddResponse"/>
</operation>
<operation name="EliminarInterface">
<input wsam:Action="http://Servicios/ArcAssistantService/EliminarInterface" message="tns:EliminarInterface"/>
</operation>
<operation name="BuscarModuloEnDescomposicion">
<input wsam:Action="http://Servicios/ArcAssistantService/BuscarModuloEnDescomposicionRequest" message="tns:BuscarModuloEnDescomposicion"/>
<output wsam:Action="http://Servicios/ArcAssistantService/BuscarModuloEnDescomposicionResponse" message="tns:BuscarModuloEnDescomposicionResponse"/>
</operation>
<operation name="ObtenerRationaleQAW">
<input wsam:Action="http://Servicios/ArcAssistantService/ObtenerRationaleQAWRequest" message="tns:ObtenerRationaleQAW"/>
<output wsam:Action="http://Servicios/ArcAssistantService/ObtenerRationaleQAWResponse" message="tns:ObtenerRationaleQAWResponse"/>
</operation>
<operation name="ModificarResponsabilidad">
<input wsam:Action="http://Servicios/ArcAssistantService/ModificarResponsabilidad" message="tns:ModificarResponsabilidad"/>
</operation>
<operation name="ModificarAtributo">
<input wsam:Action="http://Servicios/ArcAssistantService/ModificarAtributo" message="tns:ModificarAtributo"/>
</operation>
<operation name="GuardarRationaleQaw">
<input wsam:Action="http://Servicios/ArcAssistantService/GuardarRationaleQaw" message="tns:GuardarRationaleQaw"/>
</operation>
<operation name="CrearResponsabilidad">
<input wsam:Action="http://Servicios/ArcAssistantService/CrearResponsabilidad" message="tns:CrearResponsabilidad"/>
</operation>
<operation name="iniciarSesion">
<input wsam:Action="http://Servicios/ArcAssistantService/iniciarSesionRequest" message="tns:iniciarSesion"/>
<output wsam:Action="http://Servicios/ArcAssistantService/iniciarSesionResponse" message="tns:iniciarSesionResponse"/>
</operation>
<operation name="ListarInterfaces">
<input wsam:Action="http://Servicios/ArcAssistantService/ListarInterfacesRequest" message="tns:ListarInterfaces"/>
<output wsam:Action="http://Servicios/ArcAssistantService/ListarInterfacesResponse" message="tns:ListarInterfacesResponse"/>
</operation>
<operation name="CrearEscenario">
<input wsam:Action="http://Servicios/ArcAssistantService/CrearEscenario" message="tns:CrearEscenario"/>
</operation>
<operation name="CrearInterface">
<input wsam:Action="http://Servicios/ArcAssistantService/CrearInterface" message="tns:CrearInterface"/>
</operation>
<operation name="EliminarModulo">
<input wsam:Action="http://Servicios/ArcAssistantService/EliminarModulo" message="tns:EliminarModulo"/>
</operation>
<operation name="ListarEscenario">
<input wsam:Action="http://Servicios/ArcAssistantService/ListarEscenarioRequest" message="tns:ListarEscenario"/>
<output wsam:Action="http://Servicios/ArcAssistantService/ListarEscenarioResponse" message="tns:ListarEscenarioResponse"/>
</operation>
<operation name="ListarTactica">
<input wsam:Action="http://Servicios/ArcAssistantService/ListarTacticaRequest" message="tns:ListarTactica"/>
<output wsam:Action="http://Servicios/ArcAssistantService/ListarTacticaResponse" message="tns:ListarTacticaResponse"/>
</operation>
<operation name="ListarModulo">
<input wsam:Action="http://Servicios/ArcAssistantService/ListarModuloRequest" message="tns:ListarModulo"/>
<output wsam:Action="http://Servicios/ArcAssistantService/ListarModuloResponse" message="tns:ListarModuloResponse"/>
</operation>
<operation name="EliminarProyecto">
<input wsam:Action="http://Servicios/ArcAssistantService/EliminarProyectoRequest" message="tns:EliminarProyecto"/>
<output wsam:Action="http://Servicios/ArcAssistantService/EliminarProyectoResponse" message="tns:EliminarProyectoResponse"/>
</operation>
<operation name="ListarUsuarios">
<input wsam:Action="http://Servicios/ArcAssistantService/ListarUsuariosRequest" message="tns:ListarUsuarios"/>
<output wsam:Action="http://Servicios/ArcAssistantService/ListarUsuariosResponse" message="tns:ListarUsuariosResponse"/>
</operation>
<operation name="EliminarAtributo">
<input wsam:Action="http://Servicios/ArcAssistantService/EliminarAtributo" message="tns:EliminarAtributo"/>
</operation>
<operation name="EliminarTactica">
<input wsam:Action="http://Servicios/ArcAssistantService/EliminarTactica" message="tns:EliminarTactica"/>
</operation>
<operation name="CrearProyecto">
<input wsam:Action="http://Servicios/ArcAssistantService/CrearProyecto" message="tns:CrearProyecto"/>
</operation>
<operation name="ListarAtributos">
<input wsam:Action="http://Servicios/ArcAssistantService/ListarAtributosRequest" message="tns:ListarAtributos"/>
<output wsam:Action="http://Servicios/ArcAssistantService/ListarAtributosResponse" message="tns:ListarAtributosResponse"/>
</operation>
<operation name="ModificarPatron">
<input wsam:Action="http://Servicios/ArcAssistantService/ModificarPatron" message="tns:ModificarPatron"/>
</operation>
<operation name="BuscarEscenario">
<input wsam:Action="http://Servicios/ArcAssistantService/BuscarEscenarioRequest" message="tns:BuscarEscenario"/>
<output wsam:Action="http://Servicios/ArcAssistantService/BuscarEscenarioResponse" message="tns:BuscarEscenarioResponse"/>
</operation>
<operation name="EliminarPatron">
<input wsam:Action="http://Servicios/ArcAssistantService/EliminarPatron" message="tns:EliminarPatron"/>
</operation>
<operation name="CrearTactica">
<input wsam:Action="http://Servicios/ArcAssistantService/CrearTactica" message="tns:CrearTactica"/>
</operation>
<operation name="ModificarModulo">
<input wsam:Action="http://Servicios/ArcAssistantService/ModificarModulo" message="tns:ModificarModulo"/>
</operation>
<operation name="CrearUsuarios">
<input wsam:Action="http://Servicios/ArcAssistantService/CrearUsuarios" message="tns:CrearUsuarios"/>
</operation>
<operation name="ListarModulos">
<input wsam:Action="http://Servicios/ArcAssistantService/ListarModulosRequest" message="tns:ListarModulos"/>
<output wsam:Action="http://Servicios/ArcAssistantService/ListarModulosResponse" message="tns:ListarModulosResponse"/>
</operation>
<operation name="CrearAtributo">
<input wsam:Action="http://Servicios/ArcAssistantService/CrearAtributo" message="tns:CrearAtributo"/>
</operation>
<operation name="BuscarTactica">
<input wsam:Action="http://Servicios/ArcAssistantService/BuscarTacticaRequest" message="tns:BuscarTactica"/>
<output wsam:Action="http://Servicios/ArcAssistantService/BuscarTacticaResponse" message="tns:BuscarTacticaResponse"/>
</operation>
<operation name="ModificarTactica">
<input wsam:Action="http://Servicios/ArcAssistantService/ModificarTactica" message="tns:ModificarTactica"/>
</operation>
<operation name="ListarProyectos">
<input wsam:Action="http://Servicios/ArcAssistantService/ListarProyectosRequest" message="tns:ListarProyectos"/>
<output wsam:Action="http://Servicios/ArcAssistantService/ListarProyectosResponse" message="tns:ListarProyectosResponse"/>
</operation>
<operation name="BuscarModulo">
<input wsam:Action="http://Servicios/ArcAssistantService/BuscarModuloRequest" message="tns:BuscarModulo"/>
<output wsam:Action="http://Servicios/ArcAssistantService/BuscarModuloResponse" message="tns:BuscarModuloResponse"/>
</operation>
<operation name="BuscarProyecto">
<input wsam:Action="http://Servicios/ArcAssistantService/BuscarProyectoRequest" message="tns:BuscarProyecto"/>
<output wsam:Action="http://Servicios/ArcAssistantService/BuscarProyectoResponse" message="tns:BuscarProyectoResponse"/>
</operation>
<operation name="BuscarAtributo">
<input wsam:Action="http://Servicios/ArcAssistantService/BuscarAtributoRequest" message="tns:BuscarAtributo"/>
<output wsam:Action="http://Servicios/ArcAssistantService/BuscarAtributoResponse" message="tns:BuscarAtributoResponse"/>
</operation>
<operation name="BuscarInterface">
<input wsam:Action="http://Servicios/ArcAssistantService/BuscarInterfaceRequest" message="tns:BuscarInterface"/>
<output wsam:Action="http://Servicios/ArcAssistantService/BuscarInterfaceResponse" message="tns:BuscarInterfaceResponse"/>
</operation>
<operation name="CrearModulo">
<input wsam:Action="http://Servicios/ArcAssistantService/CrearModulo" message="tns:CrearModulo"/>
</operation>
<operation name="buscarPatron">
<input wsam:Action="http://Servicios/ArcAssistantService/buscarPatronRequest" message="tns:buscarPatron"/>
<output wsam:Action="http://Servicios/ArcAssistantService/buscarPatronResponse" message="tns:buscarPatronResponse"/>
</operation>
<operation name="CrearPatron">
<input wsam:Action="http://Servicios/ArcAssistantService/CrearPatron" message="tns:CrearPatron"/>
</operation>
<operation name="ListarPatrones">
<input wsam:Action="http://Servicios/ArcAssistantService/ListarPatronesRequest" message="tns:ListarPatrones"/>
<output wsam:Action="http://Servicios/ArcAssistantService/ListarPatronesResponse" message="tns:ListarPatronesResponse"/>
</operation>
<operation name="EliminarUsuario">
<input wsam:Action="http://Servicios/ArcAssistantService/EliminarUsuario" message="tns:EliminarUsuario"/>
</operation>
<operation name="ModificarUsuario">
<input wsam:Action="http://Servicios/ArcAssistantService/ModificarUsuario" message="tns:ModificarUsuario"/>
</operation>
<operation name="BuscarUsuario">
<input wsam:Action="http://Servicios/ArcAssistantService/BuscarUsuarioRequest" message="tns:BuscarUsuario"/>
<output wsam:Action="http://Servicios/ArcAssistantService/BuscarUsuarioResponse" message="tns:BuscarUsuarioResponse"/>
</operation>
<operation name="ListarTacticaPorAtributoDeCalidad">
<input wsam:Action="http://Servicios/ArcAssistantService/ListarTacticaPorAtributoDeCalidadRequest" message="tns:ListarTacticaPorAtributoDeCalidad"/>
<output wsam:Action="http://Servicios/ArcAssistantService/ListarTacticaPorAtributoDeCalidadResponse" message="tns:ListarTacticaPorAtributoDeCalidadResponse"/>
</operation>
</portType>
<binding name="ArcAssistantServicePortBinding" type="tns:ArcAssistantService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="hello">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ListarResponsabilidad">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ListarResponsabilidades">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ListarTacticasPorPatron">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ModificarEscenario">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="adicionarProyectoUsuario">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="ModificarInterface">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="ListarPatronPorTactica">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ObtenerDriverArquitectonicos">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ModificarProyecto">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="GuardarRationaleAdd">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="EliminarEscenario">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="EliminarResponsabilidad">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="ObtenerRationaleAdd">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="EliminarInterface">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="BuscarModuloEnDescomposicion">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ObtenerRationaleQAW">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ModificarResponsabilidad">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="ModificarAtributo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="GuardarRationaleQaw">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="CrearResponsabilidad">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="iniciarSesion">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ListarInterfaces">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="CrearEscenario">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="CrearInterface">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="EliminarModulo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="ListarEscenario">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ListarTactica">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ListarModulo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="EliminarProyecto">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ListarUsuarios">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="EliminarAtributo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="EliminarTactica">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="CrearProyecto">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="ListarAtributos">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ModificarPatron">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="BuscarEscenario">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="EliminarPatron">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="CrearTactica">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="ModificarModulo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="CrearUsuarios">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="ListarModulos">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="CrearAtributo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="BuscarTactica">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ModificarTactica">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="ListarProyectos">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="BuscarModulo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="BuscarProyecto">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="BuscarAtributo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="BuscarInterface">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="CrearModulo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="buscarPatron">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="CrearPatron">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="ListarPatrones">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="EliminarUsuario">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="ModificarUsuario">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="BuscarUsuario">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ListarTacticaPorAtributoDeCalidad">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="ArcAssistantService">
<port name="ArcAssistantServicePort" binding="tns:ArcAssistantServicePortBinding">
<soap:address location="http://localhost:8080/ArchAssistant/ArcAssistantService"/>
</port>
</service>
</definitions>